#app {
    width: 100%;
/*    height: 100%;*/
}

html, body {
    margin: 0;
    padding: 0;
    /*height: 100%;*/ /* Crucial for body to take up full height */
}

body {
    background-color: #222;
    overflow:auto;
    /* color: #fff; */
    font-family: sans-serif;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;  /* Take up full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.card {
  width: 330px;
  height: 450px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 15px; /* Added left margin */
  margin-right: 15px; /* Added right margin */
  padding: 15px;
  cursor: pointer;
}

  .card .markdown_container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

.markdown_container {
  color: #fff;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

  .markdown_container p {
    margin: 4px;
  }


.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card-description {
  font-size: 0.9em;
  color: #ddd;
}

.category-indicators {
  display: flex;
  padding: 5px;
}

.category-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

  .category-indicator.time {
    background-color: skyblue;
  }

  .category-indicator.part {
    background-color: yellow;
  }

  .category-indicator.compare {
    background-color: deeppink;
  }

  .category-indicator.relation {
    background-color: orange;
  }


a {
    text-decoration: none;
}

.title {
  color: #fff;
}

.buttonEdit, .buttonDelete, .hiddenIcon {
  padding: 8px;
}

  .buttonEdit:hover, .buttonDelete:hover {
    background-color: #555;
    border-radius: 6px;
  }

.imgDelete {
  width: 24px;
  height: 24px;
}

.imgEdit {
  width: 24px;
  height: 24px;
}

.hiddenIcon {
  width: 24px;
  height: 24px;
}

.cardButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.search_button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #888; /* Default inactive border */
  background-color: transparent; /* Default inactive background */
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  font-size: 16px;
}

  .search_button:hover {
    background-color: #9966FF; /* Active background color (Purple) */
    border-color: #9966FF; /* Active border color (Purple) */
    color: #fff;
  }

.filter_checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  left: 0px;
  top: 0px;
}

.tag {
  width: 16px;
  height: 16px;
  border-radius: 100px;
}

.tagWrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}
